@import './generalComponent/styles/config.css';
@import './generalComponent/styles/component.css';
@import './generalComponent/styles/style.css';
@import './generalComponent/styles/structure.css';
/* #root{
    height: 100vh;
} */
.app {
    background: var(--color-bg);
    height: 100%;
}